[user]
  email = prashantrameshtak@gmail.com
  name = brongulus
[github]
  user = brongulus
[FORGE "HOST"]
  user = brongulus
# https://jvns.ca/blog/2024/02/16/popular-git-config-options/
[push]
  # Automatically set origin as the remote for current branch
  autoSetupRemote = true
[merge]
  conflictstyle = zdiff3
# Delta
[core]
  pager = delta
  # sshCommand = ssh -i ~/.ssh/id_ed25519 -o IdentitiesOnly=yes
[interactive]
  diffFilter = delta --color-only
[delta]
  side-by-side = true
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color
# Ref: https://stackoverflow.com/a/43654115 (git config --list)
[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig
