[user]
  email = prashantrameshtak@gmail.com
  name = brongulus
[github]
  user = brongulus
[FORGE "HOST"]
  user = brongulus
# https://blog.gitbutler.com/how-git-core-devs-configure-git/
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[diff]
  algorithm = histogram
  colorMoved = default #plain
[rebase]
  autoStash = true
  updateRefs = true
# https://jvns.ca/blog/2024/02/16/popular-git-config-options/
[push]
  # Automatically set origin as the remote for current branch
  autoSetupRemote = true
  autoSetupMerge = always
[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"
# Delta
[core]
  # pager = delta --pager='bat --style=plain'
  editor = "emacs"
  excludesfile = ~/.gitignore
  # sshCommand = ssh -i ~/.ssh/id_ed25519 -o IdentitiesOnly=yes
[interactive]
  diffFilter = delta --color-only
[delta]
  side-by-side = true
  navigate = true    # use n and N to move between diff sections
  hyperlinks = true
  # hyperlinks-file-link-format = "emacsclient://open?url=file://{path}&line={line}"
  map-styles = bold purple => syntax purple, bold cyan => syntax cyan # for colorMoved
  # features = zebra-light zebra-dark
[mergetool]
  keepBackup = false
[merge]
  tool = ediff
  conflictstyle = zdiff3
[rerere]
  # Ref: http://gitfu.wordpress.com/2008/04/20/git-rerere-rereremember-what-you-did-last-time/
  enabled = true  
[alias]
    pr = "!f() { git fetch origin pull/$1/head:$2; git checkout $2; }; f"
# Ref: https://stackoverflow.com/a/43654115 (git config --list)
[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig
[includeIf "gitdir:~/go/src/"]
  path = ~/go/src/.gitconfig
[http]
    sslVerify = false
[mergetool "ediff"]
  cmd = emacs -nw --eval \"(progn \
  (setq smerge-command-prefix \\\"v\\\") \
  (find-file \\\"$MERGED\\\") \
  (setq confirm-kill-emacs nil hl-line-mode nil) \
  (bind-key \\\"Q\\\" (lambda nil (interactive) (save-buffers-kill-emacs t))) \
  (smerge-mode 1) (repeat-mode 1) \
  (setq diff-refine 'navigation) \
  (map-keymap (lambda (_key cmd) (when (symbolp cmd) \
       (put cmd 'repeat-map 'smerge-basic-map))) smerge-basic-map))\"
#   cmd = emacs -nw --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
