[user]
  email = prashantrameshtak@gmail.com
  name = brongulus
[github]
  user = brongulus
[FORGE "HOST"]
  user = brongulus
[push]
    # Automatically set origin as the remote for current branch
    autoSetupRemote = true
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    side-by-side = true
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color


