[user]
	email = prashantrameshtak@gmail.com
	name = brongulus
[github]
	user = brongulus
[FORGE "HOST"]
	user = brongulus
[safe]
	directory = /mnt/Data/Documents/5-2/TS/DATA
	directory = /mnt/Data/Documents/5-2/DLM-Thesis
	directory = /mnt/Data/Documents/problems
