[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=conky 2
Comment=Tourist Quote
Exec=conky -c /home/prashant/Dotfiles/.config/conky/tracker.conf
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=true

