# snippet ( "Expand Paranthesis" 
# ($1)$0
# endsnippet

snippet vectin "Take an line of int input as vector"
	vector<int> input;

  // Get Input
  string line;
  getline(cin, line);
  istringstream input_stream(line);
  int value;
  while (input_stream >> value) {
    input.push_back(value);
  }
  $0
endsnippet

 
snippet forl "for"
for (int ${1:i} = 0; $1 < ${2:n}; $1++) {
    $0
}
endsnippet
