[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/prashant/Desktop/Celeste.desktop]
row=1
col=0

[/home/prashant/Desktop/Factorio.desktop]
row=0
col=0

[/home/prashant/Desktop/ITMO-Pashka]
row=2
col=17

[/home/prashant/Desktop/Teach Yourself CS]
row=4
col=17

[/home/prashant/Desktop/Documents]
row=3
col=0

[/home/prashant/Desktop/GDict.desktop]
row=5
col=0

[/home/prashant/Desktop/japanese]
row=3
col=17

[/home/prashant/Desktop/Emacs (Client).desktop]
row=4
col=0

[/home/prashant/Desktop/Anki.desktop]
row=5
col=17

[ACEEDC17EEDBD822]
row=1
col=17

[B0BB-CD00]
row=0
col=17

[/home/prashant]
row=2
col=0

